<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminFile">
	<resultMap id="fileResult" type="ProductFile">
		<id property="pInfoNum" column="P_INFO_NUM"></id>
		<result property="pNum" column="P_NUM"></result>
		<result property="pInfoFile" column="P_INFO_FILE"></result>
		<result property="pInfoPath" column="P_INFO_PATH"></result>
	</resultMap>
	
	<!-- 상품 정보 이미지 등록 -->
	<insert id="insertFile" parameterType="ProductFile">
	<selectKey keyProperty="pNum" resultType="int" order="BEFORE">
		SELECT MAX(P_NUM) FROM PRODUCT
	</selectKey>
		INSERT INTO PRODUCT_FILE VALUES (PRODUCT_FILE_SEQ.NEXTVAL, #{pNum}, #{pInfoFile}, #{pInfoPath})
	</insert>
	
	<!-- 선택 상품에 해당하는 정보 이미지 조회 -->
	<select id="selectFile" parameterType="int" resultMap="fileResult">
		SELECT * FROM PRODUCT_FILE WHERE P_NUM=#{pNum}
	</select>
	
	<!-- 선택 상품 이미지 수정 -->
	<update id="updateFile" parameterType="ProductFile">
		UPDATE PRODUCT_FILE SET P_INFO_FILE=#{pInfoFile}, P_INFO_PATH=#{pInfoPath} WHERE P_NUM=#{pNum} AND P_INFO_NUM=#{pInfoNum}
	</update>
	
	<!-- 선택 상품 파일 삭제 -->
	<delete id="deleteFile" parameterType="int">
		DELETE FROM PRODUCT_FILE WHERE P_NUM=#{pNum}
	</delete>

</mapper>