<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Faq">

	<resultMap id="resultFaq" type="Faq">
	<id property="faqNum" column="FAQ_NUM"/>
	<result property="faqTitle" column="FAQ_TITLE" />
	<result property="faqCategory" column="FAQ_CATEGORY" />
	<result property="faqContent" column="FAQ_CONTENT" />
	<result property="faqDate" column="FAQ_DATE" />
	<result property="readcount" column="READCOUNT" />
	</resultMap>
	
	
	<!-- 리스트 반환 -->
	<select id="listAll" parameterType="java.util.Map" resultType="Faq" resultMap="resultFaq">
		<include refid="paging_header" /> <!-- 아래의 sql문을 include -->
		<!-- ref는 다른 테이블을 의미 -->
		SELECT FAQ_NUM, FAQ_TITLE, FAQ_CATEGORY, READCOUNT FROM FAQ
		<!-- FAQ_NUM의 내림차순으로 검색 -->
		<!-- where절은 include태그 이용 -->
		<include refid="search" />
		ORDER BY FAQ_NUM DESC
		<include refid="paging_footer" />
	</select>
	
	<sql id="paging_header">
	<!-- 게시물을 한 페이지에 10개씩  볼 수 있게 처리하는 쿼리 윗부분 -->
	SELECT * FROM (SELECT ROWNUM AS RN, A.* FROM (
	</sql>
	
	<sql id="paging_footer">
	<!-- 게시물을 한 페이지에 10개씩 볼 수 있도록 처리하는 쿼리 아랫부분 -->
	<!-- 새로 매겨진 일련번호 1~10번 글까지 1페이지 -->
	<!-- 11~20번 글까지 2페이지 -->
	)A )WHERE RN BETWEEN #{start} AND #{end}
	</sql>
	
	<sql id="search">
	<!-- 검색 -->
	WHERE FAQ_CONTENT LIKE '%'||#{keyword}||'%'
		OR FAQ_TITLE LIKE '%'||#{keyword}||'%'
		OR FAQ_CATEGORY LIKE '%'||#{keyword}||'%'
	</sql>
	
	<!-- 글 작성해서 insert -->
	<insert id="insertFaq">
	<!-- 게시글 번호는 시퀀스로 하고 생성할 때마다 숫자가 1씩 증가하도록 설정 -->
		INSERT INTO FAQ (FAQ_NUM,FAQ_TITLE,FAQ_CATEGORY,FAQ_CONTENT) VALUES
				(FAQ_SEQ.NEXTVAL,#{faqTitle},#{faqCategory},#{faqContent})
	</insert>
	
	<!-- 조회수 증가처리 -->
	<update id = "increaseViewcnt">
	<!-- 글 번호에 해당하는 조회수를 +1하는 쿼리문 -->
	UPDATE FAQ SET READCOUNT = READCOUNT + 1
		WHERE FAQ_NUM = #{faqNum}
	</update>
	
	<!-- 게시글 하나 선택해서 보여주기 -->
	<select id="read" resultType="Faq" resultMap="resultFaq">
		SELECT * FROM FAQ
			WHERE FAQ_NUM = #{faqNum}
	</select>
	
	<!-- 게시글 수정 -->
	<update id="updateFaq" parameterType="Faq">
		UPDATE FAQ SET
			FAQ_TITLE = #{faqTitle},
			FAQ_CATEGORY = #{faqCategory},
			FAQ_CONTENT = #{faqContent}
			WHERE FAQ_NUM = #{faqNum}
	</update>
	
	
	<!-- 게시글 삭제 -->
	<delete id="deleteFaq" parameterType="int">
		DELETE FROM FAQ 
			WHERE FAQ_NUM = #{faqNum}
	</delete>
	
	<!-- 전체 게시글 조회 -->
	<select id="getTotalNum" resultType="int">
		SELECT COUNT(*) FROM FAQ
	</select>
</mapper>