<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<resultMap id="resultMember" type="Member">
		<id property="userNum" column="USER_NUM"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userAddress1" column="USER_ADDRESS1"/>
		<result property="userAddress2" column="USER_ADDRESS2"/>
		<result property="userAddress3" column="USER_ADDRESS3"/>
		<result property="userBirth" column="USER_BIRTH"/>
		<result property="userDel" column="USER_DEL"/>
		<result property="userDate" column="USER_DATE"/>
		
	</resultMap>
	
	<select id="selectMemberAll" resultMap="resultMember"><!--resultType="Member"--> 
		SELECT * FROM MEMBER
	</select>
	
	<select id="selectMember" parameterType="Member" resultMap="resultMember">
		SELECT * FROM MEMBER WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
	</select>
	
	<!-- 회원 가입 -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES(
			MEMBER_SEQ.NEXTVAL,#{userId}, #{userPw}, #{userName}, #{userPhone}, #{userEmail}, #{userAddress1}, #{userAddress2}, #{userAddress3}, #{userBirth}, DEFAULT, DEFAULT
		)
	</insert>

</mapper>