<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Order">

	<resultMap id="resultCartList" type="com.kh.herb.cart.model.vo.CartList">
		<id property="num" column="NUM"/>
		<result property="cartNum" column="CART_NUM"/>
		<result property="cartPnum" column="CART_P_NUM"/>
		<result property="cartUserId" column="CART_USER_ID"/>
		<result property="cartPnum" column="CART_P_NUM"/>
		<result property="cartStock" column="CART_STOCK"/>
		<result property="pName" column="P_NAME"/>
		<result property="pCost" column="P_COST"/>
		<result property="pImageName" column="P_IMAGE_NAME"/>
		<result property="pImagePath" column="P_IMAGE_PATH"/>
	</resultMap>
	
	
		<!-- 카트 리스트 -->
	<select id="cartList" parameterType="String" resultMap="resultCartList">
	SELECT
  		ROW_NUMBER() OVER(ORDER BY C.CART_NUM DESC) AS NUM,
   		C.CART_NUM, C.CART_USER_ID, C.CART_P_NUM, C.CART_STOCK,
    	P.P_NAME, P.P_COST, P.P_IMAGE_NAME, P.P_IMAGE_PATH
	FROM CART C
    	INNER JOIN PRODUCT P
        	ON C.CART_P_NUM = P.P_NUM
    	WHERE C.CART_USER_ID = #{userId}
	</select>
	
</mapper>