<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">
	<resultMap id="proResult" type="Product">
		<id property="pNum" column="P_NUM"></id>
		<result property="pName" column="P_NAME"></result>
		<result property="pCost" column="P_COST"></result>
		<result property="imageName" column="P_IMAGE_NAME"></result>
		<result property="imagePath" column="P_IMAGE_PATH"></result>
		<result property="pContent" column="P_CONTENT"></result>
		<result property="pStar" column="P_STAR"></result>
		<result property="pSell" column="P_SELL"></result>
		<result property="pMaDate" column="P_MA_DATE"></result>
		<result property="pExDate" column="P_EX_DATE"></result>
		<result property="pCapacity" column="P_CAPACITY"></result>
		<result property="pType" column="P_TYPE"></result>
		<result property="pCategory" column="P_CATEGORY"></result>
		<result property="pStarAvg" column="P_STAR_AVG"></result>
	</resultMap>

	<!-- 상품 리스트 가져오기 -->
	<select id="proAllList" parameterType="ProductPage" resultType="Product" resultMap="proResult">
	<![CDATA[
		select * from(select rownum rnum, p_num, p_name, p_cost, 
		p_image_name, p_image_path, p_star, p_category, p_star_avg
		from (select * from product where p_del = 'N']]>
	<trim>
		<choose>
			<when test="pSelect == 2">
				order by p_star desc nulls last))
			</when>
			<when test="pSelect == 3">
				order by p_cost asc))
			</when>
			<when test="pSelect == 4">
				order by p_cost desc))
			</when>
			<otherwise>order by p_num desc))</otherwise>
		</choose>
	</trim>
	<![CDATA[where rnum >= #{startPage} and rnum <= #{endPage}]]>
	</select>
	<!-- 상품 카테고리별 리스트 가져오기 -->
	<select id="proCategoryList" parameterType="ProductPage" resultType="Product" resultMap="proResult">
	<![CDATA[
		select * from(select rownum rnum, p_num, p_name, p_cost, 
		p_image_name, p_image_path, p_star, p_category, p_star_avg
		from 
		(select * from product where p_del = 'N' and p_category=#{pCategory}
	]]>
		<trim>
			<choose>
				<when test="pSelect == 2">
					order by p_star desc nulls last))
				</when>
				<when test="pSelect == 3">
					order by p_cost asc))
				</when>
				<when test="pSelect == 4">
					order by p_cost desc))
				</when>
				<otherwise>order by p_num desc))</otherwise>
			</choose>
		</trim>
		<![CDATA[where rnum >= #{startPage} and rnum <= #{endPage}]]>
	</select>
	<!-- 상품 검색 리스트 -->
	<select id="ProductSearchList" parameterType="ProductPage" resultType="Product" resultMap="proResult">
	<![CDATA[
		select * from(select rownum rnum, p_num, p_name, p_cost, 
		p_image_name, p_image_path, p_star, p_category,p_star_avg 
		from (select * from product where p_del = 'N' and p_name like '%' || #{keyword} || '%']]>
	<trim>
	<choose>
		<when test='pCategory != "전체"'>
			and p_category=#{pCategory}
			<choose>
				<when test="pSelect == 2">
					order by p_star desc nulls last))
				</when>
				<when test="pSelect == 3">
					order by p_cost asc))
				</when>
				<when test="pSelect == 4">
					order by p_cost desc))
				</when>
				<otherwise>order by p_num desc))</otherwise>
			</choose>
		</when>
		<when test='pCategory == "전체"'>
			<choose>
				<when test="pSelect == 2">
					order by p_star desc nulls last))
				</when>
				<when test="pSelect == 3">
					order by p_cost asc))
				</when>
				<when test="pSelect == 4">
					order by p_cost desc))
				</when>
				<otherwise>order by p_num desc))</otherwise>
			</choose>
		</when>
	</choose>
	</trim>
		<![CDATA[where rnum >= #{startPage} and rnum <= #{endPage}]]>
	</select>
	
	<!-- 상품 총 개수 -->
	<select id="proCount" resultType="int">
		select count(*) from product where p_del = 'N'	
	</select>
	<!-- 상품 카테고리별 총 개수 -->
	<select id="proCategoryCount" parameterType="String" resultType="int">
		select count(*) from product where p_del = 'N' and p_category=#{pCategory}
	</select>
	<!-- 상품 검색결과 총 개수 -->
	<select id="proSearchCount" parameterType="ProductPage" resultType="int">
		<![CDATA[
		select count(*) from product where p_del = 'N' and p_name like '%' || #{keyword} || '%'
		]]>
		<trim>
			<if test='pCategory != "전체"'>
			 and p_category=#{pCategory}
			</if>
		</trim>
	</select>
	<!-- 상품 인포 -->
	<select id="proInfo" parameterType="int" resultMap="proResult">
		select * from
		product where p_del = 'N' and p_num = #{pNum}
	</select>
	<!-- 별점 개수 업데이트 -->
	<update id="starCount" parameterType="int">
		update product set
		p_star = (select count(r_star) from review where p_num = #{pNum})
		where p_num = #{pNum}
	</update>
	<!-- 별점 평균 업데이트 -->
	<update id="starAvg" parameterType="int">
		update product set
        p_star_avg = (select round(avg(r_star),1) from review where p_num = #{pNum})
		where p_num = #{pNum}
	</update>
	
</mapper>
