<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductFile">
	<resultMap id="fileResult" type="ProductFile">
		<id property="pInfoNum" column="P_INFO_NUM"></id>
		<result property="pNum" column="P_NUM"></result>
		<result property="pInfoFile" column="P_INFO_FILE"></result>
		<result property="pInfoPath" column="P_INFO_PATH"></result>
	</resultMap>
	
	<select id="selectFile" parameterType="int" resultMap="fileResult">
		SELECT * FROM PRODUCT_FILE WHERE P_NUM=#{pNum}
	</select>
</mapper>