/* 공통 CSS */
.font{
	color: white;
}
.paging{
	color: black;
}
.paging:hover{
	color: red;
}
.pageDiv{
	text-align: center;
}
#notPrev{
	color: gray;
}
#notEnd{
	color: gray;
}
.aTag:hover{
	color: #e7ab3c;
}
.aDel{
	color: red;
}
.aDel:hover{
	color: #e7ab3c;
}

/* 관리자페이지 메인 */
.totalSales{
	border: 1px solid #e7ab3c;
	background: #e7ab3c;
	width: 420px;
	height: 200px;
	display: inline-block;
}
.monthSales{
	border: 1px solid #6e6e6e;
	background: #6e6e6e; 
	width: 420px;
	height: 200px;
	display: inline-block;
}
#eventing{
	font-size: large;
	font-weight: bold;	
}
.banner{
	width: 850px;
	height: 150px;
}
#mainPrice{
	font-size: xx-large;
	font-weight: bolder;
	margin-top: 100px;
	float: right;
	color: black;
}

/* 상품관리페이지 */
#productIns{
	color: white;
	background: #e7ab3c;
	display: inline-block;
}
#productTable{
	text-align: center;
}
#searchButton{
	border: white;
	width: 40px;
	color: white;
	background: #e7ab3c;
}
#searchDiv{
	display: inline-block;
	float: right;
}

/* 주문관리페이지 */
#orderTable{
	text-align: center;
	font-size: small;
}

/* 회원관리 */
#memberTable{
	text-align: center;
	font-size: small;
}

/* 상품등록페이지 */
.insButton{
	text-align: center;
}
/* #ImageName{
	text-align: center;
}  */