<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
      <setting name="jdbcTypeForNull" value="NULL" /> 
   </settings>

   <typeAliases>
     <typeAlias type="com.kh.herb.member.model.vo.Member" alias="Member" />
   	 <typeAlias type="com.kh.herb.faq.model.vo.Faq" alias="Faq" />
     <typeAlias type="com.kh.herb.qa.model.vo.Qa" alias="Qa" />
     <typeAlias type="com.kh.herb.cart.model.vo.Cart" alias="Cart" />
     <typeAlias type="com.kh.herb.notice.model.vo.Notice" alias="Notice" />
     <typeAlias type="com.kh.herb.order.model.vo.Order" alias="Order" />
     <typeAlias type="com.kh.herb.order.model.vo.OrderDetail" alias="OrderDetail" />
     <typeAlias type="com.kh.herb.product.model.vo.Product" alias="Product" />
     <typeAlias type="com.kh.herb.review.model.vo.Review" alias="Review" />
     <typeAlias type="com.kh.herb.review.model.vo.ReviewFile" alias="ReviewFile" /> 
     <typeAlias type="com.kh.herb.admin.model.vo.Pagination" alias="Pagination"/>
     <typeAlias type="com.kh.herb.product.model.vo.ProductFile" alias="ProductFile" />
     <typeAlias type="com.kh.herb.admin.model.vo.AdminOrder" alias="AdminOrder"/>
   </typeAliases>
   

   <mappers>   
      <mapper resource="mapper/member-mapper.xml" />
      <mapper resource="mapper/admin-member-mapper.xml" />
      <mapper resource="mapper/admin-order-mapper.xml" />
      <mapper resource="mapper/admin-product-mapper.xml" />
      <mapper resource="mapper/cart-mapper.xml" />
      <mapper resource="mapper/faq-mapper.xml" />
      <mapper resource="mapper/myherb-mapper.xml" />
      <mapper resource="mapper/notice-mapper.xml" />
      <mapper resource="mapper/order-mapper.xml" />
      <mapper resource="mapper/product-mapper.xml" />
      <mapper resource="mapper/qa-mapper.xml" />
      <mapper resource="mapper/review-mapper.xml" />  
      <mapper resource="mapper/admin-file-mapper.xml" />
      <mapper resource="mapper/product-file-mapper.xml" />
   </mappers>
</configuration>